--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.4.0+cu124
torchvision==0.19.0+cu124
numpy==1.26.4
tensorboard==2.18.0
diffusers[training]==0.30.3
torch-fidelity==0.3.0
vector-quantize-pytorch==1.17.8
opencv-python
pip_system_certs
omegaconf
torchmetrics
matplotlib
scikit-image
timm==1.0.15